*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ffffff;

}


.header_container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4em;
}

.header_right_box ul{
    margin: 10px;
    display: flex;
    align-items: center;
}

.logo_main_container{
    margin: 20px;
    height: 100%;
}

#logo_mainimg{
    height: 100%;
}

li{
    display: inline;
    padding: 15px;
}

.header_list a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}


.maincontainer{
    display: flex;
    flex-direction: column;
    width: 100vw;
    border: 1px solid black;

}

.imageheading{
    position: relative;
    height: 200px;
}

.imageheading img{
    opacity: 90%;
}

.aboutheading {
    position: absolute;
    top: 150px; /* Position it vertically in the middle */
    left: 50%; /* Position it horizontally in the middle */
    transform: translate(-50%, -50%); /* Center it perfectly */
    z-index: 1; /* Place it above the image */
    font-family: 'Dela Gothic One', sans-serif;
    color: transparent; /* Make the text transparent */
    -webkit-text-fill-color: transparent; /* For WebKit (Safari/Chrome) */
    -webkit-text-stroke: 2px #ffffff; /* Add a 2px black outline for WebKit */
    -moz-text-fill-color: transparent; /* For Firefox */
    -moz-text-stroke: 2px #ffffff; /* Add a 2px black outline for Firefox */

}

.aboutheading h2{
    font-size: 4rem;
}

.imageheading img{
    position: absolute;
    width: 100vw;
    max-height: 100%;
    object-fit: cover;
    z-index: -1;
}